.footer_sec{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 650px;
    width: 100%;
    align-items: end;
    z-index: 0;
    overflow: hidden;

}
.footer_bg{
    background-image: url("../../img/footer_bg.png");
    background-repeat: repeat-x;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position-x: 20px;
}
.footer_block{
    height: auto;
    width: 500px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.footer_block img{
    margin-top: 100px;
    padding-bottom: 50px;
    height: 250px;
}

.footer_title_btn_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

.footer_button_d {
    background-color: var(--colWhite);
    display: inline-flex;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    top: -10px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.footer_button_d svg {
    position: absolute;
    left: 0px;
    height: 30px;
    width: 60px;
    background-color: transparent;
    color: var(--colRed);
}

.footer_button_d:hover {
    background-color: #e2e2e2;
}

.footer_button_d a {
    text-align: center;
    text-decoration: none;
    color: var(--colRed);
    position: relative;
    font-weight: bold;
    transition: all .45s ease-Out;
}

#underline {
    width: 100%;
    height: 3px;
    margin-top: 15px;
    align-self: flex-end;
    left: -250px;
    background: var(--colRed);
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

.footer_button_d:hover #underline {
    left: 0;
}

@media screen and (max-width: 800px) {
    
    .footer_block img{
        height: 175px;
    }
    .footer_block .hero_button_i{
        margin-left: 0px;
    }
    .footer_button_d {
        font-size: 18px;
        width: 200px;
    }
    
}
@media screen and (max-width: 560px) {
    .footer_bg {
        background-size: 180% 100%;
        background-position-x: -120px;
    }
    
    .footer_block img{
        margin-top: 100px;
        height: 200px;
    }
    .footer_block .hero_button_i{
        margin-left: 0px;
    }

}
@media screen and (max-width: 400px) {
    .footer_bg {
        background-size: 140% 100%;
        background-position-x: -50px;
    }
    
    

}