
.header {
  height: 80px;
  width: 100%;
  background-color: var(--colDark);
  color: white;
  display: flex;
  justify-content: center;
}
.header_nav{
  height: 100%;
  max-width: 1350px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}
.header_nav-logo{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_nav-logo a{
  color: var(--colWhite);
}
.header_nav-logo img{
  height: 70px;
}
.header_nav-burger{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  order: -1;
}
.header_nav-burger_logo{
  position: relative;
}
.header_nav-burger_logo .checkbox{
  position: absolute;
  display: block;
  height: 38px;
  top: -5px;
  left: -5px;
  width: 40px;
  opacity: 0;
  cursor: pointer;
}
.hamburger-lines{
  display: block;
 
  height: 25px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: var(--colWhite);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.header_nav-burger_logo input[type="checkbox"].active ~ .menu-items {
  transform: translateX(0);
}

.header_nav-burger_logo input[type="checkbox"].active ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.header_nav-burger_logo input[type="checkbox"].active ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.header_nav-burger_logo input[type="checkbox"].active ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.header_nav-burger_logo input[type="checkbox"].active ~ .logo{
  display: none;
}


.header_nav-links{
  height: 100%;
  width: 100%;
  list-style: none;
  margin: -5px 0 0 0;
  margin-left: -30px;
  padding: 0;
  display: flex;
  justify-content: center;
  left: -100%;
  z-index: 1;
  transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.header_nav-links.active{
  z-index: 1;
  opacity: 1;
  position: absolute;
  left: 0%;
  transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.header_nav-links li{
  display: flex;
  position: relative;
  margin: 20px 0 15px 30px;
  text-decoration: none;
  align-items: center;
}
.header_nav-links li::before{
  content: '';
  position: absolute;
  background: var(--colWhite);
  display: block;
  border-radius: 100%;
  bottom: 0px;
  opacity: 0;
  left: 0;
  width:40%;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
.header_nav-links li:hover::before{
  transition: all 0.2s ease-in-out;
  background: var(--colRed);
  opacity: 1;
  width: 100%;
}
.header_nav-links li:hover>svg{
  transition: all 0.3s ease-in-out;
  fill: var(--colRed);
}

.header_nav-links li:hover>a{
  transition: all 0.3s ease-in-out;
  color: var(--colRed);
}
.header_nav-links li:active::before{
  transition: 0 ;
  background: var(--colRed);
  opacity: 1;
  width: 100%;
}
.header_nav-links li:active>svg{
  transition: 0;
  fill: var(--colRed);
}

.header_nav-links li:active>a{
  transition: 0 ;
  color: var(--colRed);
}


.header_nav-links li > a{  
  font-weight: 400;
  margin-left: 8px;
  color: var(--colWhite);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.header_nav-links li>svg{
  width: 18px;
  height: 18px;
  fill: var(--colWhite);
  transition: all 0.3s ease-in-out;
}
.home_svg{
  position: relative;
  top: -3px;
}
.header_nav-links.active{
  z-index: 1;
  opacity: 1;
  position: absolute;
  left: 0%;
}

.header_nav-btn{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 1;
  margin-left: -80px;
}
.header_nav-btn a{
  text-decoration: none;
  color: var(--colWhite);
}
.header-brand {
  font-size: 24px;
  font-weight: bold;
  padding-right: 120px;
}
.header_profile{
  cursor: pointer;
  width: 100px;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.header_profile > img{
  padding-right: 10px;
  border-radius: 100%;
  height: 40px !important;
}
.header_profile-links{
  overflow: hidden;
  z-index: 1;
  background-color: var(--colDark);
  height: 0px;
  width: 100px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  list-style: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  top: 63px;
  transition: 0.4s ease-in-out;
}

.header_profile-links.active{
  z-index: 1;
  opacity: 1;
  height: 100px;
  position: absolute;
  transition:  0.4s ease-in-out;
}

.header_profile-links li{
  display: flex;
  position: relative;
  text-decoration: none;
  align-items: center;
}
.header_profile-links li::before{
  content: '';
  position: absolute;
  background: var(--colWhite);
  display: block;
  border-radius: 100%;
  bottom: 10px;
  opacity: 0;
  left: 0;
  width:100%;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
.header_profile-links li:hover::before{
  transition: all 0.2s ease-in-out;
  background: var(--colRed);
  opacity: 1;
  width: 100%;
}
.header_profile-links li:hover>svg>path{
  transition: all 0.3s ease-in-out;
  fill: var(--colRed);
}

.header_profile-links li:hover>a{
  transition: all 0.3s ease-in-out;
  color: var(--colRed);
}
.header_profile-links li:active::before{
  transition: 0 ;
  background: var(--colRed);
  opacity: 1;
  width: 100%;
}
.header_profile-links li:active>svg>path{
  transition: all 0.3s ease-in-out;
  fill: var(--colRed);
}

.header_profile-links li:active>a{
  transition: 0 ;
  color: var(--colRed);
}

.header_profile-links li > a{  
  font-weight: 400;
  margin-left: 8px;
  color: var(--colWhite);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.header_profile-links li>svg{
  width: 18px;
  height: 18px;
  fill: var(--colWhite);
  transition: all 0.3s ease-in-out;
}
.header_sign-in{
  
  width: 100px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.header_sign-in img{
  height: 30px;
}
.header_sign-in svg>path{
  transition: all 0.3s ease-in-out;
}
.header_sign-in a{
  transition: all 0.3s ease-in-out;
}
.header_sign-in:active>svg>path{
  transition: 0;
  fill: var(--colRed);
}
.header_sign-in:hover>svg>path{
  transition: all 0.3s ease-in-out;
  fill: var(--colRed);
}
.header_sign-in:hover>a{
  transition: all 0.3s ease-in-out;
  color: var(--colRed);
}
.header_sign-in:active>a{
  transition: 0 ;
  color: var(--colRed);
}


.header .container li{
  margin-left: 20px;
}


@media screen and (max-width: 1400px){
  .header_profile-links{   
    padding-right: 40px;
    right: 0;

  }
}
@media screen and (max-width: 1040px){
  .header_profile-links{   
    padding-right: 20px;
  }
  .header_nav {
    grid-template-columns: 2fr 4fr 2fr;
  }
  .header_nav-links{
    background-color: var(--colDark);
    height: auto;
    width: auto;
    padding-right: 50px;
    margin-left: 0px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    border-bottom-right-radius: 14px;
    opacity: 0;
    top: 80px;
    left: -50%;
    transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  .header_nav-links::before {
    content: "";
    position: absolute;
    inset: 2;
    border-bottom-right-radius: 15px;
    padding: 1px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #2b85c1 80%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
  .header_nav-links li::before{
    bottom: -8px;
    
  }
  .header_nav-btn{
    margin-left: -50px;
  }
  .header_sign-in a{
    font-size: 18px;
  }
  .header_nav-burger{
    padding-left: 35px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
}
@media screen and (max-width: 500px){
  
  .header_nav-logo{
    display: none;
  }
  .header_nav {
    grid-template-columns: 2fr 2fr;
  }
}