.stats_hero_sec {
    display: flex;
    justify-content: center;
}

.stats_hero_container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    z-index: 1;
    padding: 50px 30px 50px 30px;
    justify-content: center;
    align-items: flex-start;
}

.stats_hero_block {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(22, 22, 22, 1) 100%);
    position: relative;
    border-radius: 15px;
    width: 100%;
    opacity: 1;
    padding-bottom: 20px;
    margin-top: 10px;
    transition: 0.8s ease-in-out;
    -webkit-box-shadow: 4px 4px 31px 5px rgba(193, 43, 61, 0.2);
    -moz-box-shadow: 4px 4px 31px 5px rgba(193, 43, 61, 0.2);
    box-shadow: 4px 4px 31px 5px rgba(193, 43, 61, 0.2);
}

.stats_hero_block.active {
    margin-top: 0px;
    transform: scale(1);
    opacity: 1;
}

.stats_hero_block::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 2px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, #C12B3D 80%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.stats_hero_title {
    margin-left: -10px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    padding: 0 20px 20px 20px;
    color: var(--colWhite);

}

.stats_hero_title h1{
    padding-bottom: 10px;

}
.stats_hero_title svg {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -2px;
    transform: rotate(-15deg);
}

.colRed {
    font-weight: 600;
    color: var(--colRed);
}

.stats_hero_descr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 40px;
    color: var(--colWhite);
}
.stats_hero_descr_img{
    width: 70px;
    height: 60px !important;
}
.stats_hero_statblock{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.582) 0%, rgb(26, 26, 26) 100%);
    position: relative;
    display: flex;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    gap: 40px;
    opacity: 1;
    margin-top: 10px;
    transition: 0.8s ease-in-out; 
    align-items: center;
    justify-content: start;
}
.stats_hero_statblock::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 2px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, #dfdfdf7e 80%); */
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.stats_hero_statblock img{
    height: 70px;
}

.stats_hero_stat_descr h3{
    padding: 0;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 660px) {
    .stats_hero_descr {
        grid-template-columns: 1fr;

  
  }
}