.stats_graphs_hero_sec {
    display: flex;
    justify-content: center;
}

.stats_graphs_hero_container {
    max-width: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    z-index: 1;
    padding: 50px 30px 50px 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stats_graphs_hero_block {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(22, 22, 22, 1) 100%);
    position: relative;
    border-radius: 15px;
    height: auto;
    opacity: 1;
    margin-top: 10px;
    transition: 0.8s ease-in-out;
    -webkit-box-shadow: 4px 4px 31px 5px rgba(101, 43, 193, 0.1);
    -moz-box-shadow: 4px 4px 31px 5px rgba(101, 43, 193, 0.1);
    box-shadow: 4px 4px 31px 5px rgba(101, 43, 193, 0.1);
}


.stats_graphs_hero_block::before {
    /* content: ""; */
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 2px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(101, 43, 193, 0.692) 80%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.stats_graphs_hero_block-2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(22, 22, 22, 1) 100%);
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: auto;
    opacity: 1;
    margin-top: 10px;
    transition: 0.8s ease-in-out;
    -webkit-box-shadow: 4px 4px 31px 5px rgba(188, 43, 193, 0.1);
    -moz-box-shadow: 4px 4px 31px 5px rgba(163, 43, 193, 0.1);
    box-shadow: 4px 4px 31px 5px rgba(163, 43, 193, 0.1);
}


.stats_graphs_hero_block-2::before {
    content:normal;
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 2px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(188, 43, 193, 0.678) 80%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.stats_graphs_hero_title {
    padding: 0 60px 0 60px;
    margin-left: -10px;
    text-align: center;
    position: relative;
    color: var(--colWhite);
}

.stats_graphs_hero_title svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    transform: rotate(10deg);
}
.chart{
    padding: 20px;
}
@media screen and (max-width: 1100px) {
    
    .stats_graphs_hero_block-2 {
        max-height: 500px;
        height: 100%;
    }
    .stats_graphs_hero_block {
        max-height: 500px;
        height: 100%;
    }
    .stats_graphs_hero_container {
        width: 87%;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 700px) {
    
    
    .stats_graphs_hero_container {
        width: 85%;
    }
}
@media screen and (max-width: 560px) {
    
    
    .stats_graphs_hero_container {
        width: 75%;
    }
}

